@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Jost&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
}

*:root {
  --primary-font: 'IBM Plex Mono', monospace;
  --secondary-font: 'Jost', sans-serif;

  --bg-primary: #0E0E0E;
  --bg-secondary: #B58CF9;
  --bg-tertiary: #7FEEFE;
  --bg-quaternary: #13DC7A;
  --bg-quinary: #FFE787;

  --border: 1px solid #ffffff;

  --text-primary: #ffffff;;
  --text-secondary: #B58CF9;
  --text-tertiary: #7FEEFE;
  --text-quaternary: #13DC7A;
  --text-quinary: #FFE787;
 }

html {
  line-height: 1;
  margin: 0;
  padding: 0;
  color: var(--text-primary);
  font-size: 62.5%;
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.bg-tertiary {
  background-color: var(--bg-tertiary) !important;
}

.bg-card {
  background-color: var(--bg-card);
}

.text-secondary-color {
  color: var(--text-secondary);
}

.text-tertiary-color {
  color: var(--text-tertiary);
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'IBM Plex Mono', monospace;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
button,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-size: clamp(var(--min), var(--val), var(--max));
  margin: 0;
  padding: 0;
}

h1,
.h1 {
  --min: 1.9838rem;
  --val: 4.029999999999999vw;
  --max: 4.052rem;
}

h2,
.h2 {
  --min: 2.4rem;
  --val: 4.029999999999999vw;
  --max: 35.441rem;
}

h3,
.h3 {
  --min: 2.2rem;
  --val: 4.029999999999999vw;
  --max: 2.8rem;
}

h4,
.h4 {
  --min: 2rem;
  --val: 4.029999999999999vw;
  --max: 2.4rem;
}

h5,
.h5 {
  --min: 1.8rem;
  --val: 4.029999999999999vw;
  --max: 2.2rem;
}

h6,
.h6,
p,
a,
li,
button,
figcaption {
  --min: 1.2rem;
  --val: 4.029999999999999vw;
  --max: 1.6rem;
  line-height: 1.4;
}


a {
  text-decoration: none;
  color: var(--text-secondary);
}

.rounded-4xl{
  border-radius: 28px;
}

.border-3{
  border-width: 3px;
}